<% content_for :head do %>
  <%= javascript_import_module_tag "reload" %>
<% end %>

<%if !user_signed_in? %>
  <% controller.redirect_to new_user_session_path %>
<%end%>

<%= form_with model: [ @group, @group.posts.build ] ,  multiple: true do |form| %>
    <br>
    <% if action_name=="index"%>
    <div class="row ml-1"><b>  Create new Post</b> </div>
    <div class="row ; mb-2">
        <div class="col-1">
            <%= form.label :title, "Title:   " %></div>
        <div class="col-2">
            <%= form.text_field :title, id:"Title" %>
        </div>
    </div>
    <div class="row ; mb-2">
        <div class="col-1">
            <%= form.label :body, "Text:   " %> </div>
        <div class="col-2">
            <%= form.text_area :body, id:"DescripPost" %> 
        </div>
    </div>
    <div class="row ; mb-2">
    <div class="col-2" >
       <%= form.file_field :files, multiple: true,  size: "50x4", class:"bi bi-paperclip" %>
    </div>
    </div>
    <div class="row ; mt-3; mb-1" style="width:20%" >
        <%= form.text_field :user_id , type:"hidden" , value:current_user.id %>
        <%= form.submit "New Post" , class: "btn btn-sm"%>
    </div>
    <% elsif action_name =="edit" %>
efjwek
    <%end%>

<%end%>
