<html>
<head>
</head>
    <body>
        <div class="row" style="width:100% ;text-align:right">
        <div class="col" style="width:80%"> 
        </div>  

        <div class="col" > 
        <div class="row" style=" text-align:right">
            <a href="<%= group_url(@group) %>" style="color: black">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                </svg>
            </a>
        </div>
        </div> 
    </div>
       <h1 class="display-6" id="scrittaPost">Posts</h1>

       <div class="container">
            <div class="row">
                <center>
                    <button id="new_post_hidden" class="btn btn-secondary btn-sm; mb-2; mt-2" style="display: inline"> New Post </button>
                    <div class="container ; border border-dark ; rounded" style="width: 30%; display: none" id="container_posts" >
                        <%= render 'posts/form' %>
                    </div>
                </center>
                <div class="row mb-2 mt-2" ></div>

             
                <% if @group.posts.empty? %>
                    <div class="row; mt-5">
                        <center> No post yet </center>
                    </div>

                <%else%>
                    <% @posts.order(created_at: :desc).each do |post| %> <!-- ordinati in modo decrescente -->
                        <div class="row mb-1, mt-1">
                            <div class="container ; border border-dark ; rounded" style="width: 30%; text-align: center" id="container_post" >
                                <div class="row" > 
                                    <div class="col"><b> Creator: </b> <%= post.user.username %> </div>
                                </div>
                                <div class="row mt-2" >
                                    <div class="col"> <b>Title: </b>  <%= link_to post.title, group_post_url(@group,post) %> </div>
                                </div>
                                <div class="row mb-1">
                                    <div class="col"> <b> Description:</b> <%= post.body %> </div>
                                </div>
                            </div>


                        </div> 

                    <%end%>
                <%end%>

            </div>
        </div>


        <script type="text/javascript">
        window.onload = (event) => {
            let button=document.getElementById("new_post_hidden");
            let container=document.getElementById("container_posts");

            button.addEventListener('click', show);
           
            function show(){
                button.setAttribute("style", "display: none");
                container.style.display="table"
            }
        }
        </script>

    </body>
</html>