<nav class="navbar navbar-expand-lg navbar_light bg-light">
  <div class="container-fluid">

    <!--link_to tag per linkare su rails-->
    <%=link_to "#{image_tag("logo.png")}".html_safe, root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      

<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
  About us
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="lead modal-title w-100" id="exampleModalLabel">About us</h5>
      </div>
      <div class="modal-body">
        <!-- QUI L'IMMAGINE -->
        <img src="https://lh3.googleusercontent.com/QFR9qTGA6R4KnMCPCx9cYHXl0qEdPJJiTYUkNonVUzUh_7ijGYLfxvwYt_iM0Nm875a6in2nz6R7iDiFtn4u0hGKxBRODE5zDMVzARHkkSXgCYljivP9GVG1eH_86TUgZsG56dz8mD7iENLoc0gqBlX3gi3ydZPfldoiAUGwFYDuZaLleoLaOW0BVshAu59ILXdLtCLj0PzDHVLYLWv0QriUZ-MlCwfuQLOIWn3u20J4ZFNN75LusA2rCn5Kgpd0WtCGUPOdnL4uWZpGNJtfxFSgnWDOlPzXAEAhjNvpKOciLCIcItAZD1T6esPTwgo4UbVaQrjSzSCmFHAGxMKBpaJknm1wk5O4QRhKd_kLpHCFs8t7i7pWRumhMiGSo29eZitqkGNqz45jX-MDSD3KSTrDPXmhBl0tM-MFBL20gJ2jnntIzFTbZIE-Bqbsc6-sf-zI9nMVSURPgPsgi0GWjuydcq1f3sekk0VDD4Tyfqv04hUdLH8C7qa7PtGiBUq1ngCw7sWYU_Mle_vijFFQkQmwFU_lOM-y3LZg0mg6gTPzweIghLo9k3J5x5sVV5jwImFURJ9Qpx1QA6q-Vwlx31EOSZFg0QWjYVdp_ezMsLUp8zpunQb-83PzrQrOXDXp82H0Iaq6cm1X9TZmV1BYr-fIK8sY9IShEaXRoL3p1yHVu6lnYMPBDurQ9uAFA9Lt54xMqxr26JOKJ2odcbZylzA-bM54Xu8XScPYkfC3HQEZJ-0eU4H10fntdg=w1655-h432-no?authuser=0" class="rounded mx-auto d-block" style="width: 50%; height: 40%" alt="errore caricamento immagine"/>
        
        </br>
        Hi! we're five students of Computer Engineering, and we were given the possibility to develop this web application through which you can easily manage your and your friends' events. As students, but most important as friends, we always try to find the best solution when it comes to organize a meet up. Finding a time and place that works for everyone can be hard, and that's when Organize For Us comes into play! We truly hope we can help you and make your life a little easier! Enjoy!
      </div>
    </div>
  </div>
</div>


        <%if user_signed_in? %>
        <!-- notifiche -->

            <li class="nav-item">
            <%=link_to "Create group", new_group_path, class:"nav-link"%>
            </li>

            <li class="nav-item">
                <%= render "layouts/notifications" %>
            </li>

            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="NavBarDropDown1" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                  <%= image_tag user_avatar(current_user, 30), :size => "30x30", class: "rounded-circle" %>
                </a>

              <ul class="dropdown-menu" aria-labelledby="NavBarDropDown1" style="text-align: right">

                <li class="dropdown-item">
                  <%=link_to "My Groups", groups_path, class:"nav-link"%>
                </li>

                <li class="dropdown-item">
                    <%=link_to "Edit Profile", edit_user_registration_path(current_user), class:"nav-link"%>
                </li>

                <li class="dropdown-item">
                    <!--non fatto-->
                    <a class="nav-link" href="#">ProfileNONFATTO</a>
                </li>
                
                <li class="dropdown-item">
                   
                   
                    <%=link_to "Events" , events_path , class:"nav-link"%>
                </li>

                <li class="dropdown-item">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-link" %> </a>
                <li>

              </ul>
            </li>

        <%else%>   
            <li class="nav-item">
                <%=link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
                <%=link_to "Login", new_user_session_path, class:"nav-link"%>
            </li>
        <%end%>
           
      </ul>
    </div>
  </div>
</nav>