<nav class="navbar navbar-expand-lg navbar_light bg-light">
  <div class="container-fluid">

    <!--link_to tag per linkare su rails-->
    <%=link_to 'Organize For Us', root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=link_to "About Us", home_about_path, class:"nav-link"%>
        </li>

        <%if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%=link_to "Edit Profile", edit_user_registration_path(current_user), class:"nav-link"%>
            </li>
            <li class="nav-item">
                <!--non fatto-->
                <a class="nav-link" href="#">ProfileNONFATTO</a>
            </li>
            <li class="nav-item">
                <%=link_to "Create group", new_group_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
                <%=link_to "My Groups", groups_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
                <!--non fatto-->
                <a class="nav-link" href="#">Your events</a>
            </li>
        <%else%>   
            <li class="nav-item">
                <%=link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
                <%=link_to "Login", new_user_session_path, class:"nav-link"%>
            </li>
        <%end%>
           
      </ul>
    </div>
  </div>
</nav>