<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmxJtTybthjWfxm6m3YCpNI7hAQbLI9Jc&libraries=places&callback=initMap" async defec data-turbolinks-eval="false"></script-->
<script>
  $( function() {
    $( document ).tooltip();
  } );
</script>
<nav class="navbar navbar-expand-lg navbar_light bg-light">
  <div class="container-fluid">

    <!--link_to tag per linkare su rails-->
    <%=link_to "#{image_tag("logo.png")}".html_safe, root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      

<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
  About us
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="lead modal-title w-100" id="exampleModalLabel">About us</h5>
      </div>
      <div class="modal-body">
        <div style="width:20%, margin-left:90px">
        <!--lo style del div non sposta l'immagine al centro del modal-->
        <%= image_tag "profiliAboutUs.png", height: 70 %>
        </div>
        </br>
        Hi! we're five students of Computer Engineering, and we were given the possibility to develop this web application through which you can easily manage your and your friends' events. As students, but most important as friends, we always try to find the best solution when it comes to organize a meet up. Finding a time and place that works for everyone can be hard, and that's when Organize For Us comes into play! We truly hope we can help you and make your life a little easier! Enjoy!
      </div>
    </div>
  </div>
</div>


        <%if user_signed_in? %>
        <!-- notifiche -->

  
            <li class="nav-item "  style= "display: block">
                <%= render "layouts/notifications" %>
            </li>

            <li class="nav-item dropdown"  style: "display: block">
                  <a class="nav-link dropdown-toggle" href="#" id="NavBarDropDown1" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                  <%= image_tag user_avatar(current_user, 30), :size => "30x30", class: "rounded-circle" %>
                </a>

              <ul class="dropdown-menu" aria-labelledby="NavBarDropDown1" style="text-align: right">

                <li class="dropdown-item">
                  <%=link_to "My Groups", groups_path, class:"nav-link"%>
                </li>
                <li class="dropdown-item">
                    <!--non fatto-->
                     <%=link_to "Profile", profile_path, class:"nav-link"%>
                </li>
                <li class="dropdown-item">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"nav-link" %> </a>
                <li>

              </ul>
            </li>

        <%else%>   
            <li class="nav-item">
                <%=link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
                <%=link_to "Login", new_user_session_path, class:"nav-link"%>
            </li>
        <%end%>
           
      </ul>
    </div>
  </div>
</nav>