<%= form_with  url: partecipations_path, model: @partecipation do |form| %>
    
    <div class="field form group">
      </br>
      <div class="row"> 
      <div class="col-6">
      <% form.label :user_id, style: "display: block" %>
      <%= form.text_field :user_id, class:"form-control", placeholder:"Enter user email" %>
      </div>

      <script type="text/javascript">
          function color_check(){
            var list=document.getElementById("role_list").value;
            var color_box=document.getElementById("color_box");
            var nodes=document.getElementById("item").childNodes;
            var res=null;

            for(var i=0; i<nodes.length; i++){
              if (list==nodes[i].text) {
                if(list=="Please choose a role"){
                  document.getElementById("role_list").value="";
                }
              else res=nodes[i]; 
              }
            }

          if(res!=null){ 
            var color=res.getAttribute('data-value');
            if ( color != 0 ) {
              color_box.value=color;
            }
          } 
        else{
            color_box.disabled = false; 
            color_box.value="#000000";
            return;
          }
        }

      </script>

      <% if @group.work==true %>
      <div class="col-4"> 
      <% form.label :role, style: "display: block" %>
      <%= form.text_field :role, value:"",id:"role_list", oninput: "color_check()", class:"form-control", list:'item', placeholder:"Enter Role" %>
      <datalist id='item'>

      <% Group.role_list(@group).each do |r| %>
      <option data-value="0">Please choose a role</option>
      <option data-value= "<%=@group.getColor(@group.id,r)%>" ><%=r%></option>
      <%end %>
      </datalist>      </div>

      <div class="col">
      <% form.label :role_color, style: "display: block" %> 
      <%= form.color_field :role_color, id:"color_box", class:"form-control, btn-sm, rounded-6", style:"rounded" %>
      </div>



      <%else %>
      <div class="col">
      <% form.label :role, class:"form-check-label" %> 
      <%= form.check_box :role, value:"0", class:"form-check-input" %> Designated Driver</div>
      <%end%>

      </div>
      <% if @group.id==nil %>
      <% value =Group.last.id+1%>
      <% else %>
      <% value=@group.id %> 
      <% end %>
      <% form.label :group_id, style: "display: block" %>
      <%= form.text_field :group_id, class:"form-control",value: value, type: "hidden" %>
    </div>
    <div>
      </br>
      <%= form.submit class:'btn btn-secondary'%>
    </div>
<% end %>
  