<!-- QUESTA PAGINA è PER AGGIUNGERE MEMBRI DOPO LA CREAZIONE -->
<h1 class="display-6">Add a new member to the group</h1>

<%= render "partecipations/form"%>
<br>

  <% Group.list_members(@group).each do |part| %>
    <div class="row">
        <div class="col-3" >
          <li style="color:<%=part.role_color%>"> <span style="color:black"> <%= User.find(part.user_id).email %> </span> </li>
        </div>
        <div class="col"> 
          <%= part.role %>
        </div>
        <div class="col-5"> 
          <%= link_to "Delete", [:destroy, part] , data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %> 
        </div>
    </div>
  <% end %>
  <br>
    <div style="text-align: right">
      <%= link_to "Back",set_created_url(@group),class:"btn btn-secondary" %>
    </div>
  <br>
