<!--TEMPLATE PER LA FASE DI CREAZIONE PER INIZIARE AD AGGIUNGERE MEMBRI-->
<!DOCTYPE html>
<html>
<head>
<title>New_fun</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>
<h1> Starting adding members </h1>
<br>
<%= render "partecipations/form"%>
<br>
<% Group.list_members(@group).each do |part| %>
    <div class="row">
    <div class="col-3" >
    
    <li> <%= User.find(part.user_id).email %> </div>
    
    <div class="col"> 
    <%= part.role %>
</div>
<div class="col"> 
<%= link_to "Delete", [:destroy, part] , class:"btn btn-danger btn-sm", data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %>  </div>

</li> 
</div>
  <% end %>
<br>

  <div style="text-align: left">
  <p class="lead">Are you done?</p>
  <%= link_to "End", set_created_url(@group) , id:"End", class:"btn btn-secondary" %>
  </div>
  <br>
  </body>
</html>