<html>
<head> </head>
<body>
<h1> Member List </h1>
<br>
<!-- QUESTA PAGINA è MOSTRARE I MEMBRI DI UN GRUPPO TIPO WORK -->

<div class="row">
<div class="col-3"> Email </div>
<div class="col-3"> Role </div>
<div class="col"> Status </div>
<div class="col">  </div>
<div class="col">  </div>

</div>

<% @group.partecipations.each do |member| %>
  <%= stylesheet_link_tag "application" %> 

<div class="row"> 

  <div class="col-3">
    <li style="color: <%=member.role_color%>" >  
        <span> <%= member.user.email %> </span> 
    </li> 
  </div>
  <div class="col-3" id="col_role"> 
    <%=member.role%> 
  </div>

<div class="col">
<% if @group.accepted?(member.user.id)%>
 "Member"
<%else %>
 "Pending"
<% end %>
</div>

<%if @group.user==current_user %>
<div class="col">  <%= link_to "Delete", [:destroy, member] , data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %> 
              </div>
<div class="col">

<%= link_to "Update", update_url(@group,member.user.id) %>
</div>
       
</div>
<% end %>

<% end %><br><br>
<!-- Righe per indietro o aggiunta -->
    <div class="row">
      <div class="col-1" ,style="text-align: right">
      <%= link_to "Back", @group %>
      </div>
      <div class="col">
      <%= link_to "New Member", new_partecipations_url(@group) %>
      </div>
    </div></body>
</html>