<div class="row" style="width:100% ;text-align:right">
  <div class="col" style="width:80%"> 
  </div>  

  <div class="col" > 
    <div class="row" style=" text-align:right">
      <div class="col" >
      <a href="<%= group_url(@group) %>" title="Back" style="color: black">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
      </svg>
      </a>
      </div>
      <% if current_user==@group.administrator %> 
      <div class="col" >
      <a href="<%= new_partecipations_url(@group) %>" title="Add member" style="color: black">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
      <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
      </svg>
      </a>
      </div>
      <% end %>
    </div>
  </div>
  
</div>


<html>
<head> </head>
<body>
<h1 class="display-6">Members List</h1>


<br>
<!-- QUESTA PAGINA è MOSTRARE I MEMBRI DI UN GRUPPO TIPO WORK -->

<div class="row">
<div class="col-3"> Email </div>
<div class="col-3"> Role </div>
<div class="col"> Status </div>
<div class="col">  </div>
<div class="col">  </div>
<hr class="my"> </hr>
<br>
</div>

<% @group.partecipations.each do |member| %>
  <%= stylesheet_link_tag "application" %> 

<div class="row"> 

  <div class="col-3">
    <li style="color: <%=member.role_color%>" >  
        <span> <%= member.user.email %> </span> 
    </li> 
  </div>
  <div class="col-3" id="col_role"> 
    <%=member.role%> 
  </div>

<div class="col">
<% if @group.accepted?(member.user.id)%>
 Member
<%else %>
 Pending
<% end %>
</div>

<%if @group.user==current_user %>
<div class="col">  <%= link_to "Delete", [:destroy, member] ,class:"btn btn-danger btn-sm", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %> 
              </div>
<div class="col">

<%= link_to "Update role", update_url(@group,member.user.id), class:"btn btn-secondary btn-sm" %>
</div>
       
</div>
<% end %>

<% end %><br><br>
<!-- Righe per indietro o aggiunta 
    <div class="row">
      <div class="col-1" ,style="text-align: right">
      <%= link_to "Back", @group, class:"btn btn-secondary" %>
      </div>
      <div class="col">
      <%= link_to "New Member", new_partecipations_url(@group), class:"btn btn-secondary" %>
      </div>
    </div></body>
    -->
</html>