<!-- PAGINA DOVE MODIFICARE IL RUOLO DI UN PARTECIPANTE-->

<html>
<head>
  <%if !user_signed_in? %>
    <% controller.redirect_to new_user_session_path %>
  <%end%></head>
<body>

<div class="row" style=" text-align:right">
  <a href="<%= group_url(@group) %>" title="Back" style="color: black">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
    </svg>
  </a>
</div>
<br>

<h1 class="display-6">Members List</h1>



<% @group.partecipations.each do |member| %>
<!-- non mi riconosce uguali i due id perche uno è della partecipazione lascio cosi che tanto la mail è univoca-->
<% if member.user.email!=@group.user.email%>
<%if member.user.email==@member.email%>
<div class="row"> 
    <div class="col">
      <li style='list-style-type: circle'> <%= member.user.email %> </li> 
    </div>


    <script type="text/javascript">
          function color_check(){
            var list=document.getElementById("role_list").value;
            var color_box=document.getElementById("color_box");
            var nodes=document.getElementById("item").childNodes;
            var res=null;

            for(var i=0; i<nodes.length; i++){
              if (list==nodes[i].text) {
                if(list=="Please choose a role"){
                  document.getElementById("role_list").value="";
                }
              else res=nodes[i]; 
              }
            }

          if(res!=null){ 
            var color=res.getAttribute('data-value');
            if ( color != 0 ) {
              color_box.value=color;
            }
          } 
        else{
            color_box.disabled = false; 
            color_box.value="#000000";
            return;
          }
        }

      </script>

    <div class="col">
        <%= form_with url: update_role_url, model: @partecipations, method: :put do |form| %>
            <% form.label :role, style: "display: block" %>
            <%= form.text_field :role, class:"form-control", list:'item',value: member.role %>
                <datalist id='item'>
            <% Group.role_list(@group).each do |r| %>
                <option data-value="0">Please choose a role</option>
                <option data-value= "<%=@group.getColor(@group.id,r)%>" ><%=r%></option>
                <%end %>
                </datalist>      </div>

                <div class="col-1">
                <% form.label :role_color, style: "display: block" %> 
                <%= form.color_field :role_color, id:"color_box", class:"form-control, btn-sm, rounded-6", style:"rounded" %>
                </div>

                <div class="col-2">
                <% form.label :admin, style: "display: block" %> Make admin:
                <%= form.check_box :admin, class:"form-control,rounded-6", checked: member.admin %>
                </div>
          

        <div class="col">
            <%= form.submit class:'btn btn-secondary btn-sm;'%>
    </div>
    <%end%>
    <br>

<% else %>



<div class="row"> <div class="col">
<li style='list-style-type: circle'> <%= member.user.email %> </li> </div>

<div class="col" id="col_role"> Role: <%=member.role%> </div>


<%if @group.user==current_user %>
<div class="col">  <%= link_to "Delete", [:destroy, member] ,class:"btn btn-danger btn-sm", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %> 
              </div>
<div class="col">

<%= link_to "Update" ,update_role_path(@group,member) %>
</div>
       
</div>
<% end %>

<% end %><br><br>
<%end%>
<%end%>

</body>
</html>