<html>
<head>
</head>
<body>

<%if !user_signed_in? %>
  <% controller.redirect_to new_user_session_path %>
<%end%>

<div class="row" style="width:100% ;text-align:right">
  <div class="col" style="width:80%"> 
  </div>  
  <div class="col" > 
    <div class="row" style=" text-align:right">
      <!--home-->
      <div class="col" >
      <a href="<%= root_path %>" title="Back home" style="color: black">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
      </svg>
      </a>
      </div>
      <!--edit profile-->
      <div class="col">
      <a href="<%= edit_user_registration_path %>" title="Edit Profile" style="color: black" id="EditGroup">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
      </a>
      </div>
    </div>
  </div>
</div>


<% if @user == current_user%>
  
    
    <div class="container">
    <h1 class="display-6"><%= full_name%></h1>
    <div class="row">
    <div class="col-4">
    <br>
    <%= image_tag user_avatar(current_user, 150), :size => "150x150", class: "rounded-circle" %>
   
     
    
    <ul class="list-group list-group-flush" align="left" style="padding-left: 0%;  width: 16rem; text-align:left">
    <li class="list-group-item" style="width: 16rem;"><b>Username:</b> <%= @user.username%></li>
    <li class="list-group-item" style="width: 16rem;"><b>Email:</b> <%= @user.email%></li>
    <li class="list-group-item" style="width: 16rem;"><b>Birthday:</b> <%= @user.birthday%></li>
    
    <!--
    <li class="list-group-item"><%=link_to "My Groups", groups_path, class:"btn btn-secondary"%>
    </li>
    -->
    </ul>
    
    </div>
    <div class="col-8">
    <p class="lead"><b>You have created: </b><%=Group.where(user_id: @current_user).count%> groups</p>
    <div class="row row-cols-1 row-cols-md-4 g-4">
    <%var=1%>
         <% @groups.each do |group| %>
        <%if group.is_administrator?(current_user)%>
       <div class="col">
       <%if var==1%>
        <div class="card text-white bg-primary mb-3" style="width: 10rem;">
        <%elsif var==2%>
        <div class="card text-white bg-danger mb-3" style="width: 10rem;">
        <%elsif var==3%>
        <div class="card text-dark bg-warning mb-3" style="width: 10rem;">
        <%elsif var==4%>
        <div class="card text-white bg-success mb-3" style="width: 10rem;">
        <%end%>
        <%if var!=4%>
        <%var=var+1%>
        <%else%>
        <%var=1%>
        <%end%>
        <%if group.fun==true%>
         <div class="card-header">Fun group</div>
         <%else%>
        <div class="card-header">Work group</div>
        <%end%>
          <div class="card-body">
            <h5 class="card-title"><%=link_to group.name, group_url(group), style:"color: black"%></h5>
            <p class="card-text"><%=group.description%></p>
          </div>
        </div>
        </div>
        <%end %>
        <%end%>
        </div>
    </div>



    </div>
    </div>
</div>
            <% if user_signed_in? %>

            <center>
            <span> Link your account with: </span> <br>
            <div class="row mt-4" style="width:40%; text-align:center" >
                <div class="col">
                    <a style="text-decorations:none; color:inherit;" href=" <%= Identity.get_provider_account(current_user.id, "google_oauth2").empty? ? user_google_oauth2_omniauth_authorize_path : unlink_account_path(current_user.id, "google_oauth2") %> "  >
                        <span class="badge bg-light border border-dark">
                            <% if Identity.get_provider_account(current_user.id, "google_oauth2").empty? %>
                                <span style="color: black">Link</span> 
                            <% else %>
                                <span style="color: black">Unlink</span>
                            <% end %>
                            <svg xmlns="https://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 48 48" aria-hidden="true" class="L5wZDc">
                                <path fill="#4285F4" d="M45.12 24.5c0-1.56-.14-3.06-.4-4.5H24v8.51h11.84c-.51 2.75-2.06 5.08-4.39 6.64v5.52h7.11c4.16-3.83 6.56-9.47 6.56-16.17z"></path>
                                <path fill="#34A853" d="M24 46c5.94 0 10.92-1.97 14.56-5.33l-7.11-5.52c-1.97 1.32-4.49 2.1-7.45 2.1-5.73 0-10.58-3.87-12.31-9.07H4.34v5.7C7.96 41.07 15.4 46 24 46z"></path>
                                <path fill="#FBBC05" d="M11.69 28.18C11.25 26.86 11 25.45 11 24s.25-2.86.69-4.18v-5.7H4.34C2.85 17.09 2 20.45 2 24c0 3.55.85 6.91 2.34 9.88l7.35-5.7z"></path>
                                <path fill="#EA4335" d="M24 10.75c3.23 0 6.13 1.11 8.41 3.29l6.31-6.31C34.91 4.18 29.93 2 24 2 15.4 2 7.96 6.93 4.34 14.12l7.35 5.7c1.73-5.2 6.58-9.07 12.31-9.07z"></path>
                                <path fill="none" d="M2 2h44v44H2z"></path>
                            </svg>
                        </span>
                    </a>
                </div>

                
                <div class="col">
                    <a style="text-decorations:none; color:inherit;" href="<%= Identity.where(user_id: current_user.id, provider: "facebook").empty? ? user_facebook_omniauth_authorize_path : unlink_account_path(current_user.id, "facebook") %>">
                        <span class="badge bg-light border border-dark">
                            <% if Identity.where(user_id: current_user.id, provider: "facebook").empty?%>
                                <span style="color: black">Link</span>
                            <% else %>
                                <span style="color: black">Unlink</span>
                            <% end %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-facebook" viewBox="0 0 16 16">
                                <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                            </svg>
                        </span>
                    </a>
                </div>
                
                <div class="col">
                    <a style="text-decorations:none; color:inherit;" href="<%= Identity.where(user_id: current_user.id, provider: "github").empty? ? user_github_omniauth_authorize_path : unlink_account_path(current_user.id, "github") %>">
                        <span class="badge bg-light border border-dark">
                            <% if Identity.where(user_id: current_user.id, provider: "github").empty? %>
                                <span style="color: black">Link</span>
                            <% else %>
                                <span style="color: black">Unlink</span>
                            <% end %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-github" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                        </span>
                    </a>
                </div>

                
                <div class="col">
                    <a style="text-decorations:none; color:inherit;" href="<%= Identity.where(user_id: current_user.id, provider: "linkedin").empty? ? user_linkedin_omniauth_authorize_path : unlink_account_path(current_user.id, "linkedin")%>">
                        <span class="badge bg-light border border-dark">
                            <% if Identity.where(user_id: current_user.id, provider: "linkedin").empty?%>
                                <span style="color: black">Link</span>  
                            <% else %>
                                <span style="color: black">Unlink</span>
                            <% end %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0e76a8" class="bi bi-linkedin" viewBox="0 0 16 16">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                            </svg>
                        </span>
                    </a>
                </div>

            </div>
            </center>
            <% end %>

    <% if current_user.access_token? %>

    <style type="text/css">
    .simple-calendar {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ccc;
        font-size: 15px;
        background-color: white;
      }
      .day {
        padding: 5px;
        text-align: center;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

      }
      
      .wday-0 {color: red; }
      .wday-1 {color: black;}
      .wday-2 {color: black;}
      .wday-3 {color: black;}
      .wday-4 {color: black;}
      .wday-5 {color: black; }
      .wday-6 {color: red; }

      .today {
          font-weight: bold;
        }
      .past {
          color: black;
      }
      .future {
          color: black;
      }
    
      .start-date {}
    
      .prev-month {}
      .next-month { }
      .current-month {}
    
      .event {
          color: black;
      }
    </style>
            <div class="container mt-5 text-center">
            <h5>My calendar</h5><br>
                <%= month_calendar do |date| %> 
                            <div class="day">
                                <%= date.day %>                
                            </div>
                    <div class="event">
                    <% @event_list.each do |event| %>
                        <% if event.start.date_time != nil%>
                            <% if event.start.date_time.to_date == date.to_datetime %>
                                <div class="container  rounded mb-1" style="background-color: #03A4E4 ; width:85%">
                                    <span style="font-size: 15px"><b><%=event.summary %>  </b>
                                        <% if event.start.date_time.hour < 10 %>
                                            <% @start = "0"+String(event.start.date_time.hour)%>
                                        <%else%>
                                            <% @start = String(event.start.date_time.hour)%>
                                        <%end%>
                                        <% if event.start.date_time.minute < 10 %>
                                            <% @start_minute = "0"+String(event.start.date_time.minute)%>
                                        <%else%>
                                            <% @start_minute = String(event.start.date_time.minute)%>
                                        <%end%>

                                        <%=@start%>:<%=@start_minute%> -
                                        <% if event.end.date_time.hour < 10 %>
                                            <% @end = "0"+String(event.end.date_time.hour)%>
                                        <%else%>
                                            <% @end = String(event.end.date_time.hour)%>
                                        <%end%>
                                        <% if event.end.date_time.minute < 10 %>
                                            <% @end_minute = "0"+String(event.end.date_time.minute)%>
                                        <%else%>
                                            <% @end_minute = String(event.end.date_time.minute)%>
                                        <%end%>
                                            <%=@end%>:<%=@end_minute%><br></span>
                                </div>
                            <%end%>
                        <%else%>
                            <% if event.start.date <= date && date.to_datetime < event.end.date.to_datetime %>
                                <div class="container rounded mb-1" style="background-color: #03A4E4 ; width:85%">
                                        <span style="font-size: 13px"><b><%=event.summary %></b></span>      
                                </div>
                            <%end%>
                        <%end%>
                    <% end %> 
                <% end %>
                </div>
            </div>
        <%end%>
    


<% else %>
    <% redirect_to profile_path %>
<%end%>
<div>
<br>
<br>
<br>
</div>
</body>
</html>