<% if @user == current_user%>
<h1><%= full_name%></h1>
<%= image_tag user_avatar(current_user, 30), :size => "150x150", class: "rounded-circle" %>
<p>Username: <%= @user.username%><p>
<p>Email: <%= @user.email%><p>
<p>Birthday: <%= @user.birthday%><p>
<p>You have created: <%=Group.where(user_id: @current_user).count%> groups<p>
<%=link_to "My Groups", groups_path, class:"btn btn-secondary"%>
<%=link_to "Events" , events_path , class:"btn btn-secondary"%>
<%=link_to "Edit Profile", edit_user_registration_path(current_user),  class:"btn btn-secondary"%>
<%end%>