
<div class="row mt-2">
    <div class="row">
      <%= f.label :street, "Address" %><br />
      <%= f.text_field :street , class: 'form-control' %><br />
    </div>
    <div class="row">
      <%= f.label :city, "City" %><br />
      <%= f.text_field :city , class: 'form-control' %><br />
    </div>
    <div class="row">
      <%= f.label :province, "Province" %><br />
      <%= f.text_field :province , class: 'form-control' %><br />
    </div>
    <div class="row">
    <%= f.label :country, "country" %><br />
    <%= f.text_field :country , class: 'form-control' %><br />
    </div>
</div>
