<h1 class="display-6">Create new event</h1>
<%= form_with(model: @event, local: true) do |form| %>

<% if false%>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= massage %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%end%>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>


  <%= form.text_field :user_id, type:"hidden", value: current_user.id%>
  <%= form.text_field :group_id, type:"hidden", value: @group.id%>

  <br>
  <p class="lead">Select requested participants:</p>
  <div class="field">
        <% @group.list_accepted.each do |part| %>
          <%= form.label :members , User.find(part.user_id).username %>
          <%= form.check_box :members, {multiple: true}, User.find(part.user_id).email, nil%>
          <br>
        <%end%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>