<html>
<head>
  <%if !user_signed_in? %>
    <% controller.redirect_to new_user_session_path %>
  <%end%>
</head>

<div class="container">
<div class="row" style="width:100% ;text-align:right">
      <div class="col" style="width:80%"> 
      </div>    
      <div class="col" > <div class="row" style=" text-align:right">
        <div class="col">
          <a href="<%= group_events_path(@group) %>" style="color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
            </svg>
          </a>
        </div>
        <!--div class="col">
          <a href="<%= edit_group_path(@group) %>" style="color: black" id="EditGroup">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          </a>
        </div-->
        <div class="col">
          <button type="button" class="btn btn-sm" id="ButtonWorkDelete" onclick="show('box')"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
          </button>
          <div class="alert alert-danger" role="alert" id="box" style="display:none" >Are you sure?
            <%= button_to 'Delete event', group_event_path(@group,@event), method: :delete, id: "DestroyEventWork" %>
          </div>
        </div>

        <!--
        <div class="col">
          
          <a href="<%= new_group_event_path(@group) %>" style="color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
          </a>
        </div>
        -->
        
          </div>
      </div>
    </div> 
    
  <div class="row mt-5">
    <div class="col-md-7">
      <h1 class="display-6">Event Details</h1>
      <div class="card mb-4">
        <div class="card-body">
          <p>
            <strong class="lead">Title:</strong>
            <%= @event.title %>
          </p>
          <p>
            <strong class="lead">Description:</strong>
            <%= @event.description %>
          </p>
          <hr>
          <p>
            <strong class="lead">Start date:</strong>
            <%= @event.start_date.to_s.remove("UTC") %>
          </p>
          <p>
            <strong class="lead">End date:</strong>
            <%= @event.end_date.to_s.remove("UTC")%>
            <!--%= formatted_datetime(@event.end_date) %-->
          </p>
          <!--
          <%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary' %> 
          <%= link_to 'Back', events_path, class: 'btn btn-primary' %>
          -->
        </div>
      </div>

      <h1 class="display-6">Event Participants</h1>
      <ul class="list-group">
        <% @event.email_guest_list.each do |guest| %>
          <li class="list-group-item">
            <div class="media">
              <!--%= image_tag 'dummy-user.png', class: 'mr-3 guest-icon' %-->
              <div class="media-body">
                <h5 class="mt-0"><%= guest %></h5>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-5">
      <% if @event.position!=nil %> <!-- se c'è una posizione la mostro -->
          <h1 class="display-6">Position</h1>

          <ul> 
            <div class="map-container">
              <div id="breweries" data-latitude=<%= @location.latitude %> data-longitude=<%= @location.longitude %> >
                  <p><%= @location.address %></p>
              </div>
              <div id="map"> </div>
            </div>

            <style type="text/css">
            #map {
              height: 300px;
              width: 100%;
            }
          </style>
                <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


              <script type="text/javascript">
              function initMap() {
              const coords = document.getElementById("breweries");
              const city = {
                lat: parseFloat(coords.getAttribute("data-latitude")),
                lng: parseFloat(coords.getAttribute("data-longitude"))
              };
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 10,
                center: city
              });
              const marker = new google.maps.Marker({
                position: city,
                map: map,
              });

              }
                                
              window.initMap = initMap;

            </script>
            <script async src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.dig(:google, :google_api_key_maps)%>&callback=initMap" defer> </script>


        
          </ul>
      <% elsif !@event.meet_uri.nil? %>

      <h1 class="display-6">Event Meet</h1>
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <a href= <%= @event.meet_uri %> >  
                <svg xmlns="http://www.w3.org/2000/svg" width="1.22em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 211"><path fill="#00832D" d="m144.822 105.322l24.957 28.527l33.562 21.445l5.838-49.792l-5.838-48.669l-34.205 18.839z"/><path fill="#0066DA" d="M0 150.66v42.43c0 9.688 7.864 17.554 17.554 17.554h42.43l8.786-32.059l-8.786-27.925l-29.11-8.786L.001 150.66Z"/><path fill="#E94235" d="M59.984 0L0 59.984l30.876 8.765l29.108-8.765l8.626-27.545z"/><path fill="#2684FC" d="M.001 150.679h59.983V59.983H.001z"/><path fill="#00AC47" d="M241.659 25.398L203.34 56.834v98.46l38.477 31.558c5.76 4.512 14.186.4 14.186-6.922V32.18c0-7.403-8.627-11.495-14.345-6.781"/><path fill="#00AC47" d="M144.822 105.322v45.338H59.984v59.984h125.804c9.69 0 17.553-7.866 17.553-17.554v-37.796l-58.519-49.972Z"/><path fill="#FFBA00" d="M185.788 0H59.984v59.984h84.838v45.338l58.52-48.49V17.555c0-9.69-7.864-17.554-17.554-17.554"/>   
                </svg>
                  Go to meet
              </a>
            </div>
          </div>
        </div>      
      <%end%>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script type="text/javascript">
      function show(variabile) {
       if(document.getElementById(variabile).style.display=='') { 
        document.getElementById(variabile).style.display='none'; 
      }else{ 
        document.getElementById(variabile).style.display=''; 
      } 
      };
  </script>
  <script type="text/javascript">
      $(document).on('click', function (e) {
        if ($(e.target).closest("#box").length === 0 && $(e.target).closest("#ButtonWorkDelete").length === 0 ) {
          $("#box").hide();
        }
      });
  </script>


</html>