


<span> Hi , <b> <%= @user %> </b> <span> 
<b> <%= @creator.name %> <%= @creator.surname %></b> invite you to join on 
group: <b> <%= @group.name %></b> </span>
</span>
<span> Please click here to join the Organize For Us family </span> <br>
<%= @url %>

<p> Have a nice day! </p>
 