
<html>
    <head>
        <%if !user_signed_in? %>
            <% controller.redirect_to new_user_session_path %>
        <%end%>
    </head>
    <body>
    <div class="row" style="text-align: right">
       
        <div class="col">
            <a href="<%= group_path(@group) %>" style="color: black" title="Back">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                </svg>
            </a>
        </div>
        <div class="col-1" >
            <a href="<%= destroy_survey_url(@survey.group,@survey) %>" title="Delete" style="color: black">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
            </a>
        </div>
    </div>
        <br><br>
        <center>
        <h3> <%=@survey.title%> </h3>
        <%= @survey.body %>
        </center>
        <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
        <br><br><br>
        <div class="container" id="grafico" style="width: 50%">
            
        </div>

        <input type="text", id="array", style="display:none" , value= "<%= @survey.get_question_answers%>" >  </input>


        <script type="text/javascript">
          let t=document.getElementById("array");

          var array=JSON.parse(JSON.stringify(t.value))
          var new_arr=set_array(array)
          anychart.onDocumentReady(function(){
                     data={
                        header: ["Name", "Survey responds"],
                        rows:[]
                    };

                    for(var i=0; i< new_arr.length; i++){
                        data.rows.push([new_arr[i][0], new_arr[i][1]] );
                    }

                var chart = anychart.column();

                // add the data
                chart.data(data);
        
                // set the chart title
                chart.title("Survey results");
        
                // draw
                chart.container("grafico");
                chart.draw();
                    });

            function set_array(array){
                var new_array=new Array();
                for(var i=0; i < array.length; i++){
                    var s="";
                    if(array[i]=="[") {
                        i++;
                            if(array[i]=="[") i+=2;
                            else i++;
                            while(array[i]!='"') {
                                s=s+array[i];
                                i++;
                            }
                            i+=1;
                            var k= new Array()
                            k.push(s);
                            s="";
                            if(array[i]==','){
                                i+=2;
                                k.push(array[i]);
                                i+=1;
                            }
                            new_array.push(k);
                            i+=2;
                        }
                };

                return new_array;
            }
            </script>
    </body>

</html>