<p style="color: green"></p>

<h1>Your groups</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%@gruppos.each do |gruppo|%>
      <tr>
        <td><%= gruppo.nome %>
        </td>
        <td><%= gruppo.descrizione %>
        </td>
        <td><%= link_to 'Show group', gruppo %>
        </td>
        
          <td><%= link_to 'Edit group',  edit_gruppo_path(gruppo)%>
          </td>
          <td><%= button_to 'Delete group', gruppo, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <%end%>
  </tbody>
</table>
<br>
<%=link_to 'Create new group', new_gruppo_path, class:"btn btn-secondary"%>