<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <!--da vedere come fare-->
  <div class="row">
  <div class="col">

    <div class="field form group">
      </br>
      <% form.label :picture, style: "display: block" %> Group picture: <br>
      <%= form.file_field :image, multiple: false,  size: "50x4", class:"bi bi-paperclip" %>
    </div>
  </div>
      
    <div class="col mt-3">
    <div class="field form group">
    <% form.label :color, style: "display: block" %> Color:  <br>
      <%= form.color_field :color , class:"bi bi-paperclip" %>
      </div>
    </div>

</div>

  
  <div class="field form group">
    </br>
    <% form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class="field form group">
    </br>
    <% form.label :description, style: "display: block" %>
    <%= form.text_field :description, class:"form-control", placeholder:"Description"  %>
  </div>
 </br>
<!--script per la checkbox-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script type="text/javascript">
    function unCheckWork(id) {
      $('.btn-check').prop('checked',false);
      $(id).prop('checked',true);
      let t=document.getElementById("max_hours");

      t.setAttribute("style","visibility: hidden")

      };
</script>
<script type="text/javascript">
    function unCheckFun(id) {   
      $('.btn-check').prop('checked',false);
      $(id).prop('checked',true);
      let t=document.getElementById("max_hours");
      t.setAttribute("style","visibility:true")
      };
</script>




  <% if controller_name == 'groups' && action_name == 'new' %>
    <div class="form-row" >
      <label for="fun">This group is for: </label>

          <%= form.check_box :fun,  class:"btn-check",onclick:"unCheckWork(this)"%>
          <%= form.label :fun, class:"btn btn-secondary"%>
          
          <%= form.check_box :work,   class:"btn-check",onclick:"unCheckFun(this)"%>
          <%= form.label :work,class:"btn btn-secondary"%>

          
    </div>
    <div class="row">
            <div class="col">
              <% form.label :date_of_start, style: "display: block" %> Date started: <br>
              <%= form.date_field :date_of_start%>
            </div>

          <div class="col">
            <% form.label :date_of_end, style: "display: block" %> Date ended: <br>
            <%= form.date_field :date_of_end%>
          </div>
          <div class="col">
          <% form.label :hours, style: "display: block" %> Number of hours: <br>
          <%= form.number_field :hours%>
          </div>
       </div>
       <div class="mt-3" id="max_hours" style="visibility: hidden">
              <% form.label :max_hours_in_a_day, style: "display: block" %> Max hours in a day: <br>
              <%= form.number_field :max_hours_in_a_day%>
        </div>
  <%end%>


  
  <!--campo nascosto per lo user_id che associa il group all'utente che lo crea-->
  <div class="field form group">
  </br>
  <%= form.number_field :user_id, id: :groups_user_id, class:"form-control",value: current_user.id,type: :hidden %>
  </div>
 
  <div>
    </br>
    <%= form.submit "Continue",class:'btn btn-secondary'%>
  </div>
<% end %>

