<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form group">
    </br>
    <% form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class="field form group">
    </br>
    <% form.label :description, style: "display: block" %>
    <%= form.text_field :description, class:"form-control", placeholder:"Description"  %>
  </div>

  <% if controller_name == 'groups' && action_name == 'new' %>
  
  <div class="form-row" >
    <label for="fun">This group is for:</label>
    </br>
    <%= form.check_box :fun, class:"btn-check"%>
    <%= form.label :fun, class:"btn btn-secondary"%>
    
    <%= form.check_box :work, class:"btn-check"%>
    <%= form.label :work,class:"btn btn-secondary"%>
</div>
<%end%>

  <!--campo nascosto per lo user_id che associa il group all'utente che lo crea-->
  <div class="field form group">
  </br>
  <%= form.number_field :user_id, id: :groups_user_id, class:"form-control",value: current_user.id,type: :hidden %>
  </div>
 
  <div>
    </br>
    <%= form.submit class:'btn btn-secondary'%>
  </div>
<% end %>
