<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <!--da vedere come fare-->
  <div class="field form group">
    </br>
    <% form.label :picture, style: "display: block" %> Group picture: <br>
    <%= file_field_tag :picture %>
    </div>


  
  <div class="field form group">
    </br>
    <% form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>

  <div class="field form group">
    </br>
    <% form.label :description, style: "display: block" %>
    <%= form.text_field :description, class:"form-control", placeholder:"Description"  %>
  </div>
 </br>
<!--inizio prove-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script type="text/javascript">
    function showFunHide(checked) {
      if (checked==true) {
        $('#hiddenFunFields').fadeIn();
         $('#hiddenWorkFields').fadeOut();
      }
      else {
        $('#hiddenFunFields').fadeOut();
      }
      };
</script>
<script type="text/javascript">
    function showWorkHide(checked) {
      if (checked==true) {
        $('#hiddenWorkFields').fadeIn();
         $('#hiddenFunFields').fadeOut();
       
      }
      else {
        $('#hiddenWorkFields').fadeOut();
      }
      };
</script>
<!--fine prove-->



  <% if controller_name == 'groups' && action_name == 'new' %>
    <div class="form-row" >
      <label for="fun">This group is for: </label>

          <%= form.check_box :fun, class:"btn-check" , onclick:"showFunHide(this.checked)"%>
          <%= form.label :fun, class:"btn btn-secondary"%>
          <div id="hiddenFunFields", style='display:none'>
      
          </div>

          <%= form.check_box :work, class:"btn-check", onclick:"showWorkHide(this.checked)"%>
          <%= form.label :work,class:"btn btn-secondary"%>
          <div id="hiddenWorkFields", style='display:none'>
          
          </div>
    </div>
  <%end%>
  
  <!--campo nascosto per lo user_id che associa il group all'utente che lo crea-->
  <div class="field form group">
  </br>
  <%= form.number_field :user_id, id: :groups_user_id, class:"form-control",value: current_user.id,type: :hidden %>
  </div>
 
  <div>
    </br>
    <%= form.submit "Continue",class:'btn btn-secondary'%>
  </div>
<% end %>

