<h1>Edit group</h1>

<%= render "form", group: @group %>
<br>


  <h6>Designated Driver</h6>

  <% if @group.has_partecipation? %>

    <%= form_with url: edit_driver_url, model: @partecipations, method: :put do |form| %>
      <div container>
      <div class="row">
        <div class="col-2">
        <% form.label :role, style: "display: block" %>
        <%= form.select :role, Partecipation.list_member(@group) %>
        </div>
        <div class="col">
        <%= form.submit "Choose", class:"btn btn-secondary btn-sm" %>
         <br><br>
        </div> 
      </div></div>

    <% end %>
  <% else %>
     <p> Insert member before choose a designated driver </p> <br>
  <%end %>


<%= link_to "New Member", new_partecipations_url(@group),  class:"btn btn-secondary" %>
<br><br>
<div>
<%= link_to "Show group", @group, class:"btn btn-secondary" %> 
<br><br>
<%= link_to "Back to your groups", groups_path, class:"btn btn-secondary" %>
</div>


