<%if !user_signed_in? %>
  <% controller.redirect_to new_user_session_path %>
<%end%>

  <p style="color: green"></p>

  <div class="row" style="width:100%; text-align:right">
     <div class="col" style="width:80%"> 
      <h1 class="display-6" style="text-align:left"> <%= image_tag group_image(@group, 5000), :size => "60x60", class: "rounded-circle" %><%= @group.name %></h1>
      </div>     
      <div class="col" > <div class="row" style=" text-align:right">
        <div class="col">
          <a href="<%= groups_path %>" style="color: black" title="Back">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
            </svg>
          </a>
        </div>
        
        <div class="col">
          <a href="<%= edit_group_path(@group)  %>" title="Edit" style="color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          </a>
        </div>
        <!--
        <div class="col">
          <a href="<%= new_group_event_path(@group) %>" title="New event" style="color: black">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus" viewBox="0 0 16 16">
            <path d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
          </a>
        </div>
        -->
        
        <div class="col">
          <button type="button" class="btn btn-sm" id="button" title="Delete" onclick="show('box')"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg>
          </button>
          <div class="alert alert-danger" role="alert" id="box" style="display:none" >Are you sure?
            <%= button_to 'Delete group', @group, class:"btn btn-danger btn-sm", method: :delete%>
          </div>
        </div>
        
        <!--NO EVENTO IN FUN-->
        

         </div>
      </div>
  </div> 

    <div style="text-align: right">
    </div>
    <br>



    <div class="container" id="info_fun">
      <div class="row">
          <div class="col mb-2",  style="width:80%, margin-left:10px">
          <h4 class="display-6"><%= @group.description %></h4>
            <h6 class="lead">Fun group</h6>
          </div>
         
          <div class="col"></div>
        </div>
    </div>
    
  </br>
  
  <!--INIZIO ACCORDION-->
  <div class="container" style="width:100%">

  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Members
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <%  i=0 %>
            <% if i<3 %>
              <% @group.partecipations.each do |member| %>
                <div class="row"> 
                  <div class="col">
                    <% if @group.accepted?(member.user.id) %> 
                      <li style="color: <%=member.role_color%>" > 
                      <span> <%= member.user.email %> </span> 
                      </li> 
                      <% i=i+1%>
                    <% end %>
                  </div>
                </div>
              <%end%>
            <% end %>
            <span><%= link_to "Show More",show_p_url(@group), class:"btn  btn-sm" %></span>
      </div>
    </div>
  </div>
  <!--
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Events
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <% if !@group.events.empty? %>
        <% @group.events.each do |event|%>
          <li><%= event.title%> </li>
        <%end %>
      <%else%>
        <p class="lead">No events yet</p>
      <%end%>
      <span><%= link_to "Show More", group_events_path(@group), class:"btn btn btn-sm" %></span>
      </div>  
    </div>
  </div>
  -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Designated driver
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <% if @group.has_designeted_driver? %>
              <%= @group.driver %>
            <%else%>
              <p class="lead">No designated driver choosen yet</p>
            <% end %> 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
       Surveys
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            <% if !@group.surveys.empty? %>
              <% i = 0 %> 
              <% @group.surveys.active.take(3).each do |s| %>
              <% if i < 3 && i <= @group.surveys.count %>
                <%i=i+1%>
                <%= link_to s.title , show_survey_path(@group,s) %>
                <!--QUESTO NON FUNZIONA-->
              <%end%>
              <%end%>
            <%else%>
              <p class="lead">No surveys yet</p>
            <%end%>
          <span><%= link_to "Show More", index_survey_url(@group), class:"btn  btn-sm" %></span>
      </div>
    </div>
  </div>
</div>
 
</div>
  <!--FINE ACCORDION-->

  <br>
  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script type="text/javascript">
      function show(variabile) {
       if(document.getElementById(variabile).style.display=='') { 
        document.getElementById(variabile).style.display='none'; 
      }else{ 
        document.getElementById(variabile).style.display=''; 
      } 
      };
  </script>
  <script type="text/javascript">
      $(document).on('click', function (e) {
        if ($(e.target).closest("#box").length === 0 && $(e.target).closest("#button").length === 0 ) {
          $("#box").hide();
        }
      });
  </script>

   <% if current_user==@group.administrator %> 
  <p class="lead">Click on the "See slots" button below to access a calendar that shows you the free time slots for you 
  and the other participants based on your Google Calendars!</p>
  <%= button_to "See slots", set_organization_path(@group), class:"btn btn btn-lg" , id: "see_slots" %>


 <% #credits for the loading animation: https://codepen.io/eyesight%>


<style>
        .wrapper-no7 {
          display: flex;
          justify-content: center;
        }
        .wrapper-no7 .animation-wrapper {
          display: flex;
        }
        .wrapper-no7 .animation-wrapper.notvisible {
          display: none;
        }
        .wrapper-no7 .cat {
          width: 80%;
          overflow: visible;
        }
        .wrapper-no7 .cat-wrapper {
          width: 300px;
        }
        .wrapper-no7 .eyes circle {
          fill: #fff;
        }
        .wrapper-no7 .frontlegs, .wrapper-no7 .backlegs {
          opacity: 1;
        }
        .wrapper-no7 .logoani {
          align-self: flex-end;
          margin-left: -25px;
          font-size: 45px;
        }
        .wrapper-no7 .logo {
          font-size: 55px;
          opacity: 0;
          position: absolute;
          top: -40px;
        }
        .wrapper-no7 .logo.visible {
          opacity: 1;
          top: 40px;
          transition: all 1s;
        }
        .wrapper-no7 .restart {
          display: none;
          font-size: 20px;
          position: absolute;
          top: 50%;
          background-color: white;
          border: #bbb 1px solid;
          box-shadow: none;
          padding: 20px;
          border-radius: 10px;
        }
        .wrapper-no7 .restart:hover {
          background-color: #ddd;
        }
        .wrapper-no7 .restart.visible {
          display: block;
        }
        .wrapper-no7 .layout {
          display: block;
          opacity: 1;
          width: 80%;
          position: absolute;
          top: 40px;
          transition: opacity 1s;
        }
        .wrapper-no7 .layout.notvisible {
          display: none;
          opacity: 0;
        }
        .wrapper-no7 .layout li {
          height: 15px;
          background-color: #bbb;
        }
        .wrapper-no7 .layout ul {
          display: flex;
          margin: 0;
          padding: 0;
        }
        .wrapper-no7 .layout li {
          width: 50px;
          margin-left: 20px;
          list-style: none;
          background-color: #bbb;
        }
        .wrapper-no7 .layout .layout__nav {
          display: flex;
          justify-content: space-between;
        }
        .wrapper-no7 .layout .layout__nav-left, .wrapper-no7 .layout .layout__nav-right {
          width: 40%;
        }
        .wrapper-no7 .layout .layout__nav-left li:first-child {
          margin-left: 0;
        }
        .wrapper-no7 .layout .layout__nav-right {
          flex-direction: row-reverse;
        }
        .wrapper-no7 .layout .layout__title {
          width: 80%;
          height: 40px;
          background-color: #bbb;
          margin-top: 150px;
          margin-left: auto;
          margin-right: auto;
        }
        .wrapper-no7 .layout .layout__content {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
        .wrapper-no7 .layout .layout__content div {
          width: 80%;
          height: 20px;
          background-color: #bbb;
          margin-top: 20px;
        }
        .wrapper-no7 .layout .layout__content div:first-child {
          margin-top: 100px;
        }
        @media screen and (max-width: 500px) {
          .wrapper-no7 .layout {
            width: 100%;
          }
          .wrapper-no7 .layout .layout__nav, .wrapper-no7 .layout .layout__nav-left, .wrapper-no7 .layout .layout__nav-right {
            display: none;
          }
          .wrapper-no7 .layout .layout__title {
            margin-top: 100px;
          }
          .wrapper-no7 .layout .layout__content div:first-child {
            margin-top: 40px;
          }
        }
        @media screen and (max-width: 768px) {
          .wrapper-no7 .layout {
            width: 100%;
          }
          .wrapper-no7 .layout .layout__title {
            margin-top: 100px;
          }
          .wrapper-no7 .layout .layout__content div:first-child {
            margin-top: 40px;
          }
          .wrapper-no7 .layout .layout__title {
            margin-top: 70px;
          }
          .wrapper-no7 .layout .layout__nav {
            margin-top: 20px;
          }
          .wrapper-no7 .layout .layout__nav-left, .wrapper-no7 .layout .layout__nav-right {
            width: 35%;
          }
          .wrapper-no7 .logo {
            font-size: 45px;
          }
        }
 </style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<div class="wrapper-no7">
    <div class="logo">Loading</div>
    <div class="animation-wrapper">
        <div class="cat-wrapper">
            <svg class="cat" style="display:none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 207.68 163.77" preserveAspectRatio="none">
              <title>cat</title>
              <g class="body">
                <circle class="body-backcircle" cx="76.86" cy="83.31" r="45.5"/>
                <circle class="body-frontcircle" cx="150.86" cy="83.31" r="45.5"/>
                <rect class="body-between"x="74.65" y="37.89" width="83.04" height="90.61"/>
              </g>
              <circle class="head" cx="161.76" cy="52.75" r="45.92"/>
              <g class="eyes">
                <circle class="eyes-l" cx="153.51" cy="46.5" r="8.25"/>
                <circle class="eyes-r" cx="185.76" cy="46.5" r="8.25"/>
              </g>
              <g class="ears">
                <polygon class="ears-l" points="132.76 19 132.76 0 149.55 8.81 132.76 19"/>
                <polygon class="ears-r" points="179.44 11.2 197 4.06 195.16 22.9 179.44 11.2"/>
              </g>
              <rect class="tail" x="-11" y="32.87" width="107" height="20" rx="9.58" ry="9.58" transform="translate(41.19 -18.41) rotate(45)"/>
              <g class="backlegs">
                <path class="backlegs1" d="M74,124.85a6,6,0,0,0-4.7-7.07l-4.41-.89a6,6,0,0,0-7.07,4.7l-6.31,31.35a8.25,8.25,0,1,0,15.64,5,5.94,5.94,0,0,0,.44-1.33Z" transform="translate(-1.58 -0.92)"/>
                <path class="backlegs2" d="M88.22,125.86a6,6,0,0,0-4.38-7.27l-4.37-1.08a6,6,0,0,0-7.27,4.38l-7.69,31a8.25,8.25,0,1,0,15.41,5.72,5.94,5.94,0,0,0,.5-1.31Z" transform="translate(-1.58 -0.92)"/>
              </g>
              <g class="frontlegs">
                <path class="frontlegs1" d="M162.89,120.91a6,6,0,0,0-7.65-3.68L151,118.72a6,6,0,0,0-3.68,7.65l10.57,30.18a8.25,8.25,0,1,0,16-3.65,5.94,5.94,0,0,0-.3-1.37Z" transform="translate(-1.58 -0.92)"/>
                <path class="frontlegs2" d="M175.77,120.08a6,6,0,0,0-7.48-4l-4.31,1.3a6,6,0,0,0-4,7.48l9.22,30.62a8.25,8.25,0,1,0,16.17-2.94,5.94,5.94,0,0,0-.24-1.38Z" transform="translate(-1.58 -0.92)"/>
              </g>
            </svg>
        </div>
        <div class="logoani" style="display: none">Loading</div>
    </div>
    <div class="layout notvisible">
        <div class="layout__nav">
            <ul class="layout__nav-left">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <ul class="layout__nav-right">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="layout__title"></div>
            <div class="layout__content">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
    </div>
    <button class="restart">restart animation</button>
 </div>
  <% end %>
  <% content_for :head do %>
  <%= javascript_import_module_tag "cat" %>
  <%end%>
  