<p style="color: green"></p>

<h1 class="display-6">Your groups</h1>
</br>
<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
       <th> </th>
      <th>Name</th>
      <th>Description</th>
      <th>Role</th>
    </tr>
  </thead>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script type="text/javascript">
    function show(variabile) {
     if(document.getElementById(variabile).style.display=='') { 
      document.getElementById(variabile).style.display='none'; 
    }else{ 
      document.getElementById(variabile).style.display=''; 
    } 
    };
</script>
<script type="text/javascript">
    $(document).on('click', function (e) {
      if ($(e.target).closest("#box").length === 0 && $(e.target).closest("#button").length === 0 ) {
        $("#box").hide();
      }
    });
</script>

  <tbody >
    <% @groups.each do |group| %>
      <% if group.is_administrator?(current_user) || group.is_a_member?(current_user)%> <!--rende visibili i gruppi solo all' utente organizzatore o ai partecipanti del suddetto gruppo-->
            <td>
            <a href= "<%=group_url(group)%>" > 
                 <center> <%= image_tag group_image(group, 50), :size => "40x40", class: "rounded-circle" %></center>
            </a>
            </td>
            <td>
            <a href= "<%=group_url(group)%>" > <span style="color: <%=group.color%>"><b> <%=group.name%> </b></span> </a>
            </td>
            <td>
              <%= group.description %>
            </td>
            <td>
              <% if group.is_administrator?(current_user) %>
                  Administrator 
              <% else %>
                  <%= Partecipation.where(group_id: group, user_id: User.where(email: current_user.email).take.id ).take.role %> 

              <% end %>
            </td>
           
        </tr>

      <%end%>
    <% end %>
    </a>
  </tbody>
</table>
<br>
<%=link_to 'Create new group', new_group_path, class:"btn btn-secondary"%>
