<p style="color: green"></p>

<div class="row" style="width:100% ;text-align:right">
  <div class="col" style="width:80%"> 
  </div>  
  <div class="col" > 
    <div class="row" style=" text-align:right">
      <!--home-->
      <div class="col" >
      <a href="<%= root_path %>" title="Back home" style="color: black">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
      </svg>
      </a>
      </div>
      <!--new group-->
      <div class="col" >
      <a href="<%= new_group_path %>" style="color: black" title="New Group">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
      <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
    </svg>
      </a>
      </div>
    </div>
  </div>
</div>

<h1 class="display-6">Your groups</h1>
</br>
<table class="table">
  <thead>
    <tr>
       <th scope="col"> </th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Role</th>
    </tr>
  </thead>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script type="text/javascript">
    function show(variabile) {
     if(document.getElementById(variabile).style.display=='') { 
      document.getElementById(variabile).style.display='none'; 
    }else{ 
      document.getElementById(variabile).style.display=''; 
    } 
    };
</script>
<script type="text/javascript">
    $(document).on('click', function (e) {
      if ($(e.target).closest("#box").length === 0 && $(e.target).closest("#button").length === 0 ) {
        $("#box").hide();
      }
    });
</script>

  <tbody >
    <% @groups.each do |group| %>
      <% if group.is_administrator?(current_user) || group.is_a_member?(current_user)%> <!--rende visibili i gruppi solo all' utente organizzatore o ai partecipanti del suddetto gruppo-->
            <td>
            <a href= "<%=group_url(group)%>" > 
                 <center> <%= image_tag group_image(group, 50), :size => "40x40", class: "rounded-circle" %></center>
            </a>
            </td>
            <td>
            <a href= "<%=group_url(group)%>" > <span style="color: <%=group.color%>"><b> <%=group.name%> </b></span> </a>
            </td>
            <td>
              <%= group.description %>
            </td>
            <td>
              <% if group.is_administrator?(current_user) %>
                  Administrator 
              <% else %>
                  <%= Partecipation.where(group_id: group, user_id: User.where(email: current_user.email).take.id ).take.role %> 

              <% end %>
            </td>
           
        </tr>

      <%end%>
    <% end %>
    </a>
  </tbody>
</table>
<br>
<%=link_to 'Create new group', new_group_path, class:"btn btn-secondary"%>
