
  <p style="color: green"></p>

  <div class="jumbotron">
  <div style="text-align: right">
  <%=link_to 'Member List', show_p_url(@group) %>
  </div>

  <h1> Work Group </h1>

  <h1 class="display-5"><%= @group.name %></h1>
  <p class="lead"><%= @group.description %></p>
  <hr class="my-4"> </hr>

  <% if @group.user==current_user%>
  <div class="container">
    <h5> Roles </h5>
      <div class="row row-cols-auto">
        <% @group.roles.each do |role| %>
          <div class="col align-self-start">
              <%= role.tag %> <br>
              <%= link_to "Destroy", [:destroy, role.group, role], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
          </div> 
        <% end %>
      </div> </div>

      <br>
  <% end %>



  <%= link_to "Edit group", edit_group_path(@group), class:"btn btn-secondary" %> 
  <%= link_to "Back to your groups", groups_path, class:"btn btn-secondary" %>
  <br><br>
   
  <%= link_to "Set organizzation", groups_path, class:"btn btn-secondary" %>  
