
  <p style="color: green"></p>

  <div class="jumbotron">
  <div style="text-align: right">
  <%=link_to 'Member List', show_p_url(@group) %>
  </div>

  <h1> Work Group </h1>

  <h1 class="display-5"><%= @group.name %></h1>
  <p class="lead"><%= @group.description %></p>
  <hr class="my-4"> </hr>

  <% if @group.user==current_user%>
  <div class="container">
    <h5> Roles </h5>
      <div class="row row-cols-auto">
        <% Group.role_list(@group).each do |role| %>
          <div class="col align-self-start">
          <% if role!= 'No Role'%>
          <div class="row">
           <div class="col">
               <%= role %></div> 
              <div class="col">
               <!--button onclick="<% @group.delete_role(role) %>" > Delete </button--> 
               </div>
               </div>
               <%end%>
          </div> 
        <% end %>
      </div> </div>

      <br>
  <% end %>



  <%= link_to "Edit group", edit_group_path(@group), class:"btn btn-secondary" %> 
  <%= link_to "Back to your groups", groups_path, class:"btn btn-secondary" %>
  <br><br>
   
  <%= link_to "Set organizzation", groups_path, class:"btn btn-secondary" %>  
