<html>
<head>
</head>
<body>
<%= stylesheet_link_tag "application" %> 

  <p style="color: green"></p>

  <div class="jumbotron">
  <div style="text-align: right">
  </div>

  <h1> Work Group </h1>

  <h1 class="display-5"><%= @group.name %></h1>
  <p class="lead"><%= @group.description %></p>
  <hr class="my-4"> </hr>

<div class="row"> 
  <div class="container" style="width: 33%">
    <h6> Roles </h6>
      <div class="row row-cols-auto">
        <% Group.role_list(@group).each do |role| %>
          <div class="col align-self-start">
          <% if role!= 'No Role'%>
          <div class="row">
           <div class="col">

           <li style="color: <%=@group.getColor(@group.id,role)%>" >             
           <%= role %>
           </li>

           </div> 
           <% if @group.user==current_user%>
              <div class="col-5">
              <%=link_to 'Delete', delete_role_path(@group,role), class:"btn btn-danger btn-sm"%>
              </div>
            <%end%>
         </div> 
        <% end %>
      </div> 
  </div>
    <br>

      <div class="container" style="width: 33%">
        <h6> Members </h6>
        <%  i=0 %>
        <% if i<3 %>
        <% @group.partecipations.each do |member| %>

          <div class="row"> 
            <% if @group.accepted?(member.user.id) %> 
              <div class="col">
                <li style="color: <%=member.role_color%>" >  
                  <span > <%= member.user.email %> </span> 
                </li> 
              </div>
               <% i=i+1%>
            <% end %>
          </div>
            <%end%>
            <% end %>
          <div class="row-2;"> 
              <%= link_to "Show More",show_p_url(@group), class:"btn btn-secondary btn-sm" %>
          </div>
      </div>

      <div class="container" style="width:33%">
          <h6> Survey </h6>
          <%= link_to "New", new_survey_path(@group,@group.administrator) %>
      </div>



  </div>

  

</div>
  <br><br>
  
  



  <%= link_to "Edit group", edit_group_path(@group), class:"btn btn-secondary" %> 
  <br><br>
  <%= link_to "Back to your groups", groups_path, class:"btn btn-secondary" %>
  <br><br>
   
  <%= link_to "Set organizzation", groups_path, class:"btn btn-secondary" %>  
  <body>
</html>