<%= form_with url:group_members_url , model: [@group, @group.members.build ] do |form| %>
    
    <div class="field form group">
      </br>
      <% form.label :user_email, style: "display: block" %>
      <%= form.text_field :user_email, class:"form-control", placeholder:"Enter user email" %>
    </div>

    <% if @group.work==true%>
    <div class="field form group">
    </br>

    <!--un selettore per scegliere il ruolo, rappresentato come un modello e importabile dall'amministratore-->
    <div container>
    <div class="row"> <div class="col-2">
    <% form.label :role, style: "display: block" %>
    <%= form.select :role, Role.list_roles(@group) %>
    </div>
    <div class="col"> 
    <%= link_to "Add new", edit_group_path(@group)%>
    </div>
    </div> </div>

    </div>
    <div class="field form group">
    </br>
    <%= form.check_box :necessary, class:"form-check-input" %>
    <%= form.label :necessary, class:"form-check-label"%>
    </div>

    <%end%>

  
   
    <div>
      </br>
      <%= form.submit class:'btn btn-secondary'%>
    </div>
  <% end %>
  